<h1><%= @recipe.name %></h1>
<div>
  <p>Preparation time: <%= @recipe.preparation_time %> hour(s)</p>
  <div>
    <p>Public</p>
    <%= button_to recipe_path, method: :patch, class: "oval-toggle" do %>
      <% if @recipe.public? %>
        <div class="circular-toggle-on">Toogle Btn</div>
      <% else %>
        <div class="cicular-toggle-off"></div>
      <% end %>
    <% end %>
  </div>
</div>
<p>Cooking time: <%= @recipe.cooking_time %> hour(s)</p>


<div class="buttons">
  <%= button_to "Generate shopping list", shopping_lists_path, method: :get, class: "add_btn" %>
  <% if can? :update, @recipe %>
    <%= form_tag(new_recipe_food_path, method: :get) do %>
      <%= hidden_field_tag :recipe_id, @recipe.id %>
      <%= submit_tag "Add ingredient", class:"add_btn" %>
    <% end %>
  <% end %>
</div>

  <div class="flex table-container">
    <table class="food-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Measured in</th>
          <th>Price (Per Unit)</th>
          <th>Quantity</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @foods.each do |food| %>
          <tr>
            <td><%= food.food.name %></td>
            <td><%= food.food.measurement_unit %></td>
            <td><%= number_to_currency(food.food.price) %></td>
            <td><%= food.food.quantity %></td>
            <td>
            <%= button_to "Delete", food_path(food), method: :delete, class: "btn"  %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>




<%= link_to "Back to All Recipes", recipes_path %>