<h1 class="title"><%= @recipe.name %></h1>
<div class="flex recipe-details">
  <div class="recipe-left">
    <h3 class="subtitle">Preparation time: <%= @recipe.preparation_time %> hour(s)</h3>
    <h3 class="subtitle">Cooking time: <%= @recipe.cooking_time %> hour(s)</h3>
    <h3 class="subtitle">Description: </h3>
    <p><%= @recipe.description%></p>
  </div>
  <div class="recipe-right">
    <% if can? :update, @recipe %>
      <%= form_with(model: @recipe) do |form| %>
        <label class="switch flex">
          <%= form.label :public %>
          <%= form.check_box :public, onchange: 'this.form.submit();', class:"checkbox" %>
          <span class="slider"></span>
        </label>
      <% end %>
    <% end %>
  </div>
</div>

<div class="btn-container flex">
  <%= button_to "Generate shopping list", shopping_lists_path, method: :get, class: "btn" %>
  <% if can? :update, @recipe %>
    <%= form_tag(new_recipe_food_path, method: :get) do %>
      <%= hidden_field_tag :recipe_id, @recipe.id %>
      <%= submit_tag "Add ingredient", class:"btn" %>
    <% end %>
  <% end %>
</div>
<div class="crossline"></div>

<% if @foods.any? %>
  <div class="flex table-container">
    <table class="food-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Measured in</th>
          <th>Amount</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @foods.each do |food| %>
          <tr>
          <td><%= food.food.name %></td>
          <td><%= "#{food.quantity} #{food.food.measurement_unit}"  %></td>
          <td><%= number_to_currency(food.quantity * food.food.price) %></td>
          <% if can? :update, @recipe %>
          <td>
            <%= button_to "Change Amount", edit_recipe_food_path(food), method: :get, class: "btn" %>
          </td>
          <td>
            <%= button_to "Delete", destroy_recipe_food_path(food), method: :delete, class: "btn" %>
          </td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <h3 class="subtitle show-back">Please, add some ingredient to the recipe!</p>
<% end %>

<div class="footer">
  <%= link_to "Back to All Recipes", recipes_path, class:'link-to back-btn show-back' %>
</div>