<header class="navbar flex">
  <h1><%= link_to 'Recipe App', root_path, class:'navbar-title' %></h1>    
  <div class="navbar-btn-container flex">
    <% if user_signed_in? %>
      <%= button_to 'Foods', foods_path, method: :get, class:'btn nav-btn' %>
      <%= button_to 'General Food List', general_food_list_user_path(current_user), method: :get, class:'btn nav-btn' %>
      <%= button_to 'Public Recipes', public_recipes_path, method: :get, class:'btn nav-btn' %>
      <%= button_to "Sign out", destroy_user_session_path, method: :delete, class:'btn nav-btn' %>
    <% else %>
      <%= button_to "Log in", new_user_session_path, class:'btn nav-btn' %>
      <%= button_to 'Sign up', new_user_registration_path, method: :get, class:'btn nav-btn' %>
    <% end %>
  </div>
</header>